<tr>
    <td width=240 height=50 align=center valign=top>
        <table width=240 height=38 cellspacing=1 cellpadding=1 background="l2ui_ct1.ComboBox_DF_Dropmenu_Bg">
            <tr>
                <td align=center valign=top>
                    <table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="{icon}">
                        <tr>
                            <td width=32 height=32 align=center valign=top>
                                <img src="l2ui.petitem_click" width="32" height="32">
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" align="center">
                    <br>
                    <button action="{link}" width="15" height="15" back="L2UI_CT1.Button_DF_Input_Down"
                            fore="L2UI_CT1.Button_DF_Input">
                </td>
                <td width=230 align=left valign=top>
                    <table border=0 cellspacing=0 cellpadding=0 width=230 height=32>
                        <tr>
                            <td width=230 align=left valign=center>
                                <font color="5882FA">{inform}</font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>